

span{
    width: 100%;
    height:auto;
    float:left;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(32, 103, 211);
}    
.about ul{
    padding-left: 0;
}
.about ul li{
    list-style: none;
    padding: 3px 0;
}
.about a{
    border: 1px solid rgb(32, 103, 211);
    color: rgb(32, 103, 211);
}
.about a:hover{
    border: 1px solid rgb(32, 103, 211);
    color: white;
    background-color: rgb(32, 103, 211);
}